@import "tailwindcss";
@theme {
	--breakpoint-xs: 384px;
}
@source "./**/*.{html,js}";


button {
    cursor: pointer;
}

#add-todo-task__wrapper:focus{
	width: 100%;
}

.focus\:w-full {
    &:focus {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #task-list-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}