@import "tailwindcss";
@theme {
	 --color-primary: #405FF2;
	 --breakpoint-xs: 384px;
}
@source "./**/*.{html,js}";


button {
    cursor: pointer;
}

#add-todo-task__wrapper:focus{
	width: 100%;
}

.focus\:w-full {
    &:focus {
        width: 100%;
    }
}